<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>accessread</h1>
        <table border="10px">
            <tr><th>pk</th>
            <th>name</th>
            <th>date</th>
            <th>author</th></tr>
            {% for wo in accessread %}
            <tr>
                <td>{{wo.pk}}</td>
                <td>{{wo.name}}</td>
                <td>{{wo.date}}</td>
                <td>{{wo.author}}</td>

            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>